html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}
/*********/


.calendar-header {
    display: flex;
    align-items: center;
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    justify-content: center;
    margin-bottom: 2em;
    background: #000;
    color: #fff;
    min-height: 10vh;
    text-align: center;
}

ul, ol {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1em;
    margin: 0 auto;
    max-width: 64em;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-left: 0;
    font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
}

ul.weekdays {
    margin-bottom: 1em;
}

    ul.weekdays li {
        height: 4vw;
    }

ol.day-grid li {
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
    height: 12vw;
    max-height: 125px;
}

ul.weekdays abbr[title] {
    border: none;
    font-weight: 800;
    text-decoration: none;
}

ol.day-grid li:nth-child(1),
ol.day-grid li:nth-child(2),
ol.day-grid li:nth-child(3),
ol.day-grid li:nth-child(34),
ol.day-grid li:nth-child(35) {
    background-color: #fff;
}

@media all and (max-width: 800px) {
    ul, ol {
        grid-gap: .25em;
    }

        ul.weekdays li {
            font-size: 0;
        }

        ul.weekdays > li abbr:after {
            content: attr(title);
            font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
            text-align: center;
        }
}


/* Styles for the popup form */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.popup-content {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.close {
    float: right;
    cursor: pointer;
}

#eventForm {
    display: flex;
    flex-direction: column;
}

#eventForm label {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
}