@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
</head>

<div class="text-center">
    <div id="calendar"></div>
</div>
